#!/usr/bin/env bash
#
# Copyright (c) 2016 10x Genomics, Inc. All rights reserved.
#
# =============================================================================
# Setup Instructions
# =============================================================================
#
# 1. Add any other necessary PBSpro arguments such as queue (-q) or account
#    (-A). If your system requires a walltime (-l walltime), 24 hours (24:00:00)
#    is sufficient.  We recommend you do not remove any arguments below or
#    Martian may not run properly.
#
# 2. Change filename of pbspro.template.example to pbspro.template.
#
# =============================================================================
# Template
# =============================================================================
#
#PBS -N __MRO_JOB_NAME__
#PBS -V
#PBS -l select=1:ncpus=__MRO_THREADS__
#PBS -l mem=__MRO_MEM_GB__gb
#PBS -o __MRO_STDOUT__
#PBS -e __MRO_STDERR__

cd $PBS_O_WORKDIR

__MRO_CMD__
