[submodule "src/github.com/codegangsta/inject"]
	path = src/github.com/codegangsta/inject
	url = https://github.com/codegangsta/inject
[submodule "src/github.com/dustin/go-humanize"]
	path = src/github.com/dustin/go-humanize
	url = https://github.com/dustin/go-humanize
[submodule "src/github.com/go-martini/martini"]
	path = src/github.com/go-martini/martini
	url = https://github.com/go-martini/martini
[submodule "src/github.com/martini-contrib/binding"]
	path = src/github.com/martini-contrib/binding
	url = https://github.com/martini-contrib/binding
[submodule "src/github.com/cloudfoundry/gosigar"]
	path = src/github.com/cloudfoundry/gosigar
	url = https://github.com/cloudfoundry/gosigar
[submodule "src/github.com/stretchr/testify"]
	path = src/github.com/stretchr/testify
	url = https://github.com/stretchr/testify
[submodule "src/github.com/martini-contrib/gzip"]
	path = src/github.com/martini-contrib/gzip
	url = https://github.com/martini-contrib/gzip
[submodule "src/github.com/martian-lang/docopt.go"]
	path = src/github.com/martian-lang/docopt.go
	url = https://github.com/martian-lang/docopt.go
[submodule "src/github.com/satori/go.uuid"]
	path = src/github.com/satori/go.uuid
	url = https://github.com/satori/go.uuid
[submodule "src/github.com/golang/tools"]
	path = src/golang.org/x/tools
	url = https://github.com/golang/tools
