//- 
    Copyright (c) 2014 10X Genomics, Inc. All rights reserved.
    
    Main UI for martian runner.

doctype html
html(ng-app="app" ng-controller="MartianGraphCtrl")
    head
        title [[.InstanceName]] / [[.Psid]] [[.Pname]]
        meta(name="apple-mobile-web-app-capable" content="yes")
        meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
        link(rel="stylesheet" href="/css/bootstrap.min.css")
        link(rel="stylesheet" href="/css/main.css")
        script(src="/js/d3.v3.min.js")
        script(src="/js/dagre-d3.min.js")
        script(src="/js/angular.min.js")
        script(src="/js/ui-bootstrap-tpls-0.10.0.min.js")
        script(src="/js/lodash.min.js")
        script(src="/js/moment.min.js")
        script(src="/js/ngClip.js")
        script(src="/js/ZeroClipboard.min.js")
        script(src="/js/ng-google-chart.js")

    body
        header.navbar.navbar-inverse.navbar-fixed-top(ng-class="{admin: adminstyle}")
            .navbar-header 
                .navbar-brand
                    a(href="{{urlprefix}}" style="color:#555") 10
                        span.logo-color X
                        | &nbsp;[[.InstanceName]]
                    | &nbsp;/ {{info.username}} / {{info.psid}} / {{info.pname}} 
                    span(ng-if="adminstyle")
                        | &nbsp;(
                        a.admin-exit(href="/") exit admin mode
                        | )
                    .navbar-views
                        | Views:
                        label.btn.btn-default(ng-model="perf" btn-radio="false") Default
                        label.btn.btn-default(ng-model="perf" btn-radio="true") Performance
        #graph(style="margin-left: 10px; margin-top: 60px;")
            svg(width="750px" height="1000px" ng-click="alert('l')")
                g#top(transform="translate(5,5) scale(1.0)")
        .details#perf(ng-if="perf && pnode")
            h4#stagename
                a(href="#" ng-click="selectNode(topnode.fqname)" ng-show="pnode.fqname!=topnode.fqname") &larr;
                | &nbsp;
                a(href="#") {{pnode.name}} &nbsp;
                | {{pnode.type}}
            table.table
                tr
                    td(style="width: 85px") Forks
                    td(colspan="5")
                        .btn-group
                            button.btn.btn-default(type="button" ng-model="$parent.$parent.forki" ng-repeat="fork in pnode.forks" btn-radio="fork.index") {{fork.index}}
            tabset.tbs-hor
                tab(heading="Summary" active="tabs.summary")
                    table.table#info(style="float:left; position: relative")
                        tr
                            td Walltime
                            td {{ humanize('walltime', 'seconds') }}
                        tr
                            td Core hours
                            td {{ humanize('core_hours', 'core hours') }}
                        tr
                            td User time
                            td {{ humanize('usertime', 'seconds') }}
                        tr
                            td System time
                            td {{ humanize('systemtime', 'seconds') }}
                        tr
                            td IO
                            td {{ humanize('total_blocks', 'blocks') }}
                        tr
                            td IO rate
                            td {{ humanize('total_blocks_rate', 'blocks / sec') }}
                        tr
                            td Max RSS
                            td {{ humanize('maxrss', 'kilobytes') }}
                        tr
                            td Jobs
                            td {{ humanize('num_jobs', 'jobs') }}
                        tr
                            td Output files
                            td {{ humanize('output_files', 'files') }}
                        tr
                            td Output bytes
                            td {{ humanize('output_bytes', 'bytes') }}
                        tr
                            td VDR files
                            td {{ humanize('vdr_files', 'files') }}
                        tr
                            td VDR bytes
                            td {{ humanize('vdr_bytes', 'bytes') }}
                tab(heading="Core Hours" active="tabs.cpu")
                tab(heading="Time" active="tabs.time")
                tab(heading="IO" active="tabs.io")
                tab(heading="IO Rate" active="tabs.iorate")
                tab(heading="Memory" active="tabs.memory")
                tab(heading="Jobs" active="tabs.jobs" ng-if="pnode.type == 'pipeline'")
                tab(heading="VDR" active="tabs.vdr" ng-if="pnode.type == 'pipeline'")
            span(ng-if="!tabs.summary")
                tabset.tbs-vert(vertical="true")
                    tab(heading="Graph" ng-click="setChartType('BarChart')")
                    tab(heading="Table" ng-click="setChartType('Table')")
                div(google-chart chart="charts[forki]" ng-if="charts[forki]")
        .details#info(ng-show="!perf && !node")
            h4#stagename
                a(href="#") Pipestance Info
            h5 Runtime
            table.table
                tr
                    td State
                    td 
                        span.minibox(ng-class="info.state") {{info.state}}
                tr
                    td Cmdline
                    td {{info.cmdline}}
                tr
                    td User
                    td {{info.username}}@{{info.hostname}}, PID={{info.pid}}
                tr
                    td Job Mode
                    td {{info.jobmode}} 
                        span(ng-if="info.jobmode=='local'") ({{info.maxcores}} cores, {{info.maxmemgb}} GB)
                tr
                    td Start Time
                    td {{info.start}}
                tr
                    td Env
                    td MROPORT={{info.MROPORT}}, MROPROFILE={{info.MROPROFILE}}
                tr
                    td Versions
                    td martian={{info.version}}, MROPATH={{info.mrobranch}}:{{info.mroversion}}
            h5 Paths
            table.table(style="margin-bottom: 0px")
                tr
                    td Bin
                    td {{info.binpath}}
                tr(ng-if="info.cwd")
                    td Cwd
                    td {{info.cwd}}
                tr
                    td MROPATH
                    td {{info.MROPATH}}
                tr
                    td MRO File
                    td {{info.invokepath}}
            #invokesrc
                pre {{info.invokesrc}}
            
        .details#stage(ng-show="!perf && node")
            h4#stagename
                a(href="#" ng-click="node=null;id=null") &larr;
                | &nbsp;
                a(href="#") {{node.name}}&nbsp;
                | {{node.type}}
            
            div.alert.alert-danger.fixed(ng-show="node.error" ng-cloak)
                div 
                    b Failed in {{node.error.fqname.substr(node.fqname.length+1)}}
                    br
                    |{{node.error.summary}}
                    br
                    br
                    a(ng-show="showLog==false" ng-click="showLog=true") show details
                    a(ng-show="showLog==true" ng-click="showLog=false") hide details
                    pre#metadata(ng-show="showLog")
                        button.close(type="button" ng-click="showLog=false") &times;
                        | {{node.error.log}}
        
            h5 Details
            table.table#info
                tr
                    td(style="width: 85px") State
                    td 
                        span.minibox(ng-class="node.state") {{node.state}}
                        button.btn.btn-default.btn-xs(ng-if="info.state == 'failed' && node.state == 'failed' && showRestart && admin" ng-click="restart()" style="margin-left: 10px") Restart
                tr
                    td FQName
                    td {{node.fqname}}
                tr
                    td Path
                    td 
                        button.btn.btn-default.btn-xs(type="button" clip-copy="copyToClipboard()")
                            span.glyphicon.glyphicon-paperclip
                        span.copyable {{node.path}}
                        span.copyable-display {{node.path | shorten}}
                tr(ng-if="node.type=='stage'")
                    td {{node.stagecodeLang}}
                    td 
                        button.btn.btn-default.btn-xs(type="button" clip-copy="copyToClipboard()")
                            span.glyphicon.glyphicon-paperclip
                        span.copyable {{node.stagecodeCmd}}
                        span.copyable-display {{node.stagecodeCmd | shorten}}
                tr
                    td(style="vertical-align: top") Sweeps
                    td
                        table
                            tr(ng-repeat="binding in node.sweepbindings") 
                                td {{binding.id}}&nbsp;&nbsp;
                                td 
                                    span.glyphicon.glyphicon-transfer &nbsp;
                                td {{binding.value | shorten}}

            h5 Sweeping
            table.table
                tr
                    td(style="width: 85px") Forks
                    td(colspan="5")
                        .btn-group
                            button.btn.btn-default(type="button" ng-model="$parent.forki" ng-repeat="fork in node.forks" btn-radio="fork.index") {{fork.index}}
                tr
                    td(style="width: 85px") State
                    td 
                        span.minibox(ng-class="node.forks[forki].state") {{node.forks[forki].state}}
                tr
                    td Permute
                    td(colspan="5")
                        table
                            tr(ng-repeat="(key, value) in node.forks[forki].argPermute")
                                td {{key}}
                                td &nbsp;=&nbsp;
                                td {{value | shorten}}
                tr
                    td Metadata
                    td(colspan="5")
                        span(ng-repeat="name in node.forks[forki].metadata.names | filter:filterMetadata")
                            a(ng-click="selectMetadata('forks', forki, name, node.forks[forki].metadata.path)") {{name}}
                            | &nbsp;
                        pre#metadata(ng-show="mdviews.forks[forki].length")
                            button.close(type="button" ng-click="mdviews.forks[forki]=''") &times;
                            | {{mdviews.forks[forki]}}

                tr
                    td Split 
                    td(colspan="5")
                        span(ng-repeat="name in node.forks[forki].split_metadata.names | filter:filterMetadata")
                            a(ng-click="selectMetadata('split', forki, name, node.forks[forki].split_metadata.path)") {{name}}
                            | &nbsp;
                        pre#metadata(ng-show="mdviews.split[forki].length")
                            button.close(type="button" ng-click="mdviews.split[forki]=''") &times;
                            | {{mdviews.split[forki]}}

                tr
                    td Join 
                    td(colspan="5")
                        span(ng-repeat="name in node.forks[forki].join_metadata.names | filter:filterMetadata")
                            a(ng-click="selectMetadata('join', forki, name, node.forks[forki].join_metadata.path)") {{name}}
                            | &nbsp;
                        pre#metadata(ng-show="mdviews.join[forki].length")
                            button.close(type="button" ng-click="mdviews.join[forki]=''") &times;
                            | {{mdviews.join[forki]}}

                tr(ng-repeat-start="(bindtype, bindings) in node.forks[forki].bindings").active
                    th(colspan="3") {{bindtype}} Bindings
                    th Source
                    th Value
                tr(ng-repeat="bnd in bindings")
                    td.tight(style="text-align: right")
                        i {{bnd.type}}
                    td.tight {{bnd.id}}
                    td.tight =
                    td
                        span(ng-class="[bnd.mode=='reference'?'minibox':'',nodes[bnd.node].state]") {{bnd.node}}
                            span(ng-if="bnd.mode=='reference'") \#{{bnd.matchedFork}}
                    td
                        span(ng-if="bnd.waiting") 
                            i.pending waiting
                        span(ng-if="!bnd.waiting && bnd.value==null") null
                        button.btn.btn-default.btn-xs(ng-if="bnd.value!=null" type="button" clip-copy="copyToClipboard()" style="vertical-align: top")
                            span.glyphicon.glyphicon-paperclip
                        span.copyable(ng-if="bnd.value!=null") {{bnd.value}}
                        span.copyable-display(ng-if="bnd.value!=null") {{bnd.value | shorten}}
                tr(ng-repeat-end)
                
            h5 Chunking
            table.table 
                tr
                    td(style="width: 85px") Chunks
                    td
                        .btn-group
                            button.btn.btn-default(ng-class="chunk.state" type="button" ng-model="$parent.chunki" ng-repeat="chunk in node.forks[forki].chunks" btn-radio="chunk.index") {{chunk.index}}
                tr
                    td(style="width: 85px") State
                    td 
                        span.minibox(ng-class="node.forks[forki].chunks[chunki].state") {{node.forks[forki].chunks[chunki].state}}
                tr
                    td Chunk Def
                    td
                        table
                            tr(ng-repeat="(key, value) in node.forks[forki].chunks[chunki].chunkDef")
                                td {{key}}
                                td &nbsp;=&nbsp;
                                td 
                                    button.btn.btn-default.btn-xs(type="button" clip-copy="copyToClipboard()")
                                        span.glyphicon.glyphicon-paperclip
                                    span.copyable {{value}}
                                    span.copyable-display {{value | shorten}}
                tr
                    td Metadata
                    td(colspan="5")
                        span(ng-repeat="name in node.forks[forki].chunks[chunki].metadata.names | filter:filterMetadata")
                            a(ng-click="selectMetadata('chunks', chunki, name, node.forks[forki].chunks[chunki].metadata.path)") {{name}}
                            | &nbsp;
                        pre#metadata(ng-show="mdviews.chunks[chunki].length")
                            button.close(type="button" ng-click="mdviews.chunks[chunki]=''") &times;
                            | {{mdviews.chunks[chunki]}}

    script
        | container = '[[.Container]]';
        | pname = '[[.Pname]]';
        | psid = '[[.Psid]]';
        | admin = [[.Admin]];
        | adminstyle = [[.AdminStyle]];
    script(src="/graph.js")
