//- 
    Copyright (c) 2014 10X Technologies, Inc. All rights reserved.
    
    Main UI for mario runner.

doctype html
html[ng-app="app"][ng-controller="MarioGraphCtrl"]
    head
        title MARSOC / {{psid}} {{pname}}
        link[rel="stylesheet"][href="/css/bootstrap.min.css"]
        link[rel="stylesheet"][href="/css/main.css"]
        script[src="/js/d3.v3.min.js"]
        script[src="/js/dagre-d3.min.js"]
        script[src="/js/angular.min.js"]
        script[src="/js/ui-bootstrap-tpls-0.10.0.min.js"]
        script[src="/js/lodash.min.js"]
        script[src="/js/moment.min.js"]
        script[src="/js/ngClip.js"]
        script[src="/js/ZeroClipboard.min.js"]

    body
        header.navbar.navbar-inverse.navbar-fixed-top
            div.navbar-header 
                div.navbar-brand
                    a[href="{{urlprefix}}"][style="color:white"] 10
                        span.logo-color X
                        | &nbsp;MARSOC&nbsp;
                    | / {{psid}} / {{pname}} 
        #graph[style="margin-left: 25px; margin-top: 75px"]
            svg(transform="scale(0.5)" width="875px" height="1000px")
                g#top(transform="translate(5,5) scale(0.80)")
        #details[ng-show="node"]
            h4#stagename
                a[href="#"] {{node.name}}                
                | {{node.type}} 

            h5 Details
            table.table#info
                tr
                    td[style="width: 85px"] State
                    td 
                        span.minibox[ng-class="node.state"] {{node.state}}
                        button.btn.btn-default.btn-xs(ng-if="node.state == 'failed' && showRestart && admin" ng-click="restart()" style="margin-left: 10px") Restart
                tr
                    td FQName
                    td {{node.fqname}}
                tr
                    td Path
                    td 
                        button.btn.btn-default.btn-xs[type="button"][clip-copy="copyToClipboard()"]
                            span.glyphicon.glyphicon-paperclip
                        span.copyable {{node.path}}
                tr(ng-if="node.type=='stage'")
                    td {{node.stagecodeLang}}
                    td 
                        button.btn.btn-default.btn-xs(type="button" clip-copy="copyToClipboard()")
                            span.glyphicon.glyphicon-paperclip
                        span.copyable {{node.stagecodePath}}
                tr
                    td(style="vertical-align: top") Sweeps
                    td
                        table
                            tr(ng-repeat="binding in node.sweepbindings") 
                                td {{binding.id}}&nbsp;&nbsp;
                                td 
                                    span.glyphicon.glyphicon-transfer &nbsp;
                                td {{binding.value}}

            h5 Sweeping
            table.table
                tr
                    td(style="width: 85px") Forks
                    td(colspan="5")
                        div.btn-group
                            button.btn.btn-default(type="button" ng-model="$parent.forki" ng-repeat="fork in node.forks" btn-radio="fork.index") {{fork.index}}
                tr
                    td(style="width: 85px") State
                    td 
                        span.minibox(ng-class="node.forks[forki].state") {{node.forks[forki].state}}
                tr
                    td Permute
                    td(colspan="5")
                        table
                            tr(ng-repeat="(key, value) in node.forks[forki].argPermute")
                                td {{key}}
                                td &nbsp;=&nbsp;
                                td {{value}}
                tr
                    td Metadata
                    td(colspan="5")
                        span(ng-repeat="name in node.forks[forki].metadata.names") &nbsp;
                            a(ng-click="selectMetadata('fork', name, node.forks[forki].metadata.path)") {{name}}
                            | &nbsp;
                        pre#metadata(ng-show="mdviews['fork'].length")
                            button.close(type="button" ng-click="mdviews['fork']=''") &times;
                            | {{mdviews.fork}}

                tr
                    td Split 
                    td(colspan="5")
                        span(ng-repeat="name in node.forks[forki].split_metadata.names") &nbsp;
                            a(ng-click="selectMetadata('split', name, node.forks[forki].split_metadata.path)") {{name}}
                            | &nbsp;
                        pre#metadata(ng-show="mdviews.split.length")
                            button.close(type="button" ng-click="mdviews.split=''") &times;
                            | {{mdviews.split}}

                tr
                    td Join 
                    td(colspan="5")
                        span(ng-repeat="name in node.forks[forki].join_metadata.names") &nbsp;
                            a(ng-click="selectMetadata('join', name, node.forks[forki].join_metadata.path)") {{name}}
                            | &nbsp;
                        pre#metadata(ng-show="mdviews.join.length")
                            button.close(type="button" ng-click="mdviews.join=''") &times;
                            | {{mdviews.join}}

                tr(ng-repeat-start="(bindtype, bindings) in node.forks[forki].bindings").active
                    th(colspan="4") {{bindtype}} Bindings
                    th Source
                    th Value
                tr(ng-repeat="bnd in bindings")
                    td.tight(style="text-align: right")
                        i {{bnd.type}}
                    td.tight {{bnd.id}}
                    td.tight =
                    td.tight
                        span(ng-if="bnd.valexp") {{bnd.valexp}}
                        span(ng-if="!bnd.valexp") {{bnd.value}}
                    td
                        span(ng-class="[bnd.mode=='reference'?'minibox':'',nodes[bnd.node].state]") {{bnd.node}}
                            span(ng-if="bnd.mode=='reference'") {{bnd.matchedFork}}
                    td
                        span(ng-if="bnd.waiting") 
                            i.pending waiting
                        span(ng-if="!bnd.waiting && bnd.value==null") null
                        button.btn.btn-default.btn-xs(ng-if="bnd.value!=null" type="button" clip-copy="copyToClipboard()" style="vertical-align: top")
                            span.glyphicon.glyphicon-paperclip
                        span.copyable(ng-if="bnd.value!=null") {{bnd.value}}
                tr(ng-repeat-end)
                
            h5 Chunking
            table.table 
                tr
                    td(style="width: 85px") Chunks
                    td
                        .btn-group
                            button.btn.btn-default(ng-class="chunk.state" type="button" ng-model="$parent.chunki" ng-repeat="chunk in node.forks[forki].chunks" btn-radio="chunk.index") {{chunk.index}}
                tr
                    td(style="width: 85px") State
                    td 
                        span.minibox(ng-class="node.forks[forki].chunks[chunki].state") {{node.forks[forki].chunks[chunki].state}}
                tr
                    td Chunk Def
                    td
                        table
                            tr(ng-repeat="(key, value) in node.forks[forki].chunks[chunki].chunkDef")
                                td {{key}}
                                td &nbsp;=&nbsp;
                                td 
                                    button.btn.btn-default.btn-xs(type="button" clip-copy="copyToClipboard()")
                                        span.glyphicon.glyphicon-paperclip
                                    span.copyable {{value}}
                tr
                    td Metadata
                    td(colspan="5")
                        span(ng-repeat="name in node.forks[forki].chunks[chunki].metadata.names") &nbsp; 
                            a(ng-click="selectMetadata('chunk', name, node.forks[forki].chunks[chunki].metadata.path)") {{name}}
                            | &nbsp;
                        pre#metadata(ng-show="mdviews.chunk.length")
                            button.close(type="button" ng-click="mdviews.chunk=''") &times;
                            | {{mdviews.chunk}}

    script
    script(src="graph.js")
